[Unit]
Description=Miden delegated prover
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
EnvironmentFile=/lib/systemd/system/miden-prover.env
ExecStart=/usr/bin/miden-proving-service start-worker
WorkingDirectory=/opt/miden-prover
User=miden-prover
RestartSec=5
Restart=always
