[Unit]
Description=Miden delegated prover
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/miden-proving-service start-worker --host 0.0.0.0 --port 50052 --tx-prover
WorkingDirectory=/opt/miden-prover
User=miden-prover
RestartSec=5
Restart=always
