[Unit]
Description=Miden delegated prover proxy
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
EnvironmentFile=/lib/systemd/system/miden-prover-proxy.env
ExecStart=/usr/bin/miden-proving-service start-proxy
WorkingDirectory=/opt/miden-prover-proxy
User=miden-prover-proxy
RestartSec=5
Restart=always
