[Unit]
Description=Miden delegated prover proxy
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
EnvironmentFile=/etc/opt/miden-prover-proxy/service.conf
ExecStart=/usr/bin/miden-proving-service start-proxy --port ${PORT} ${PROVER_HOST}:${PROVER_PORT}
WorkingDirectory=/opt/miden-prover-proxy
User=miden-prover-proxy
RestartSec=5
Restart=always
