[Unit]
Description=Miden delegated prover proxy
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/miden-proving-service start-proxy --port 50051 10.0.1.254:50052
WorkingDirectory=/opt/miden-prover-proxy
User=miden-prover-proxy
RestartSec=5
Restart=always
